body {
    background-color: black;
}

div#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: 0px;
    padding: 0px;
    background: url("board.jpg") no-repeat;
}

#messageArea {
    position: absolute;
    top: 0px;
    left: 30px;
    color: rgb(83, 175, 19);
}

table {
    position: absolute;
    left: 178px;
    top: 113px;
    border-spacing: 0px;
}

td {
    width: 94px;
    height: 94px;
}

.hit {
    background: url("ship.png") no-repeat center center;
}

.miss {
    background: url("miss.png") no-repeat center center;
}