/*@import url(http://fonts.googleapis.com/css?family=Seymour+One&subset=latin,cyrillic);
body{
font-family: Verdana, Geneva, Arial, sans-serif;
font-size: small;
}
h1{
font-family: 'Seymour One', sans-serif;
font-size: 240%;
}
h2{
font-size: 130%;
font-weight: normal;
}

blockquote{
font-style: italic;

}

h1, h2{
color: #cc6600;
border-bottom: thin dotted #888888;
}

em{
text-decoration: none;
}
*/